*{
	margin:0px;
	padding:0px;
}
a,ul{
	list-style: none;
	text-decoration: none;
}
header{
	width: 100%;
	position: relative;
}
nav{
	width: 100%;
	height: 100px;
	background: rgba(211,211,211,0.5);
	position: absolute;
	z-index: 1;
}
nav span img{
	width: 200px;
	height: 100px;
	margin-left: 80px;
}
nav ul{
/*	position: absolute;*/
	margin-left: 330px;
	margin-top: -75px;
}
nav ul li{
	list-style: none;
    float: left;
    width: 85px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-family: "微软雅黑";
}
nav ul li a{
	text-decoration: none;
	color: #3e3e3e;
	padding: 10px;
}
nav ul li a:hover{
	color: #fff;
}
#menu .active a { 
	color: #fff;
	background-color: rgba(128,128,128,0.6);
}
nav ul li:last-child{
	width: 200px;
	color: #000;
	font-size: 18px; 

}
header #banner {
	height: 100%;
}
header #banner img{
	width: 100%;
	height: 100%;
}
.section .interior_h{
	position: absolute;
	font-size: 30px;
	top: 125px;
	font-weight: normal;
	font-family: "华文行楷";
	color: gray;
}

.jswbox li {
	border:2px solid white;
}
/*.section .interior{
	position: absolute;
	top: 200px;
	left:5px;
}*/
.section .outscene_h{
	position: absolute;
	font-size: 30px;
	top: 110px;
	font-weight: normal;
	font-family: "华文行楷";
}
.section .outscene{
	position: absolute;
	width: 100%;
	height: auto;
	top: 150px;
	left: 25px;
	box-sizing: border-box;
}

.section .outscene img{
	width:24%;
	left: 5px;
	height: auto;
}

.section3 .outscene .img1{
	display: none;
}
.section3 .outscene .img2{
	display: none;
}
.section3 .outscene .img3{
	display: none;
}
.section3 .outscene .img4{
	display: none;
}
.section3 .outscene .img5{
	display: none;
}
.section3 .outscene_ .img6{
	position: relative;
	bottom: -120%;
}
.section3 .outscene .img7{
	display: none;
}
.section3 .outscene .img8{
	display: none;
}
.section .outscene .img1:hover{
	background: rgba(0,0,0,0.5);
}
.section .guest_h{
	position: absolute;
	font-size: 30px;
	top: 110px;
	font-weight: normal;
	font-family: "华文行楷";
	color: gray;
}
.section .dresses_h{
	position: absolute;
	font-size: 30px;
	top: 100px;
	font-weight: normal;
	font-family: "华文行楷";
}
/*.section .dresses{
	position: absolute;
	top:150px;
	left: 80px;
}
.section .dresses img{
	width:300px;
	height: 450px;
	left: 15px;
}*/

/*.section .about_h{
	position: absolute;
	font-size: 30px;
	font-weight: normal;
	font-family: "华文行楷";
	top: 120px;
}*/
.section7 .text{
	margin-top:-30px;
	width: 80%;
	margin-left: 10%;
	
}
.section7 .text p{
	font-size: 20px;
	font-family: "宋体";
	text-indent: 2em;
	color: gray;

}
.section .contact_h{
	position: absolute;
	font-size: 30px;
	font-weight: normal;
	font-family: "华文行楷";
	top: 120px;
	color: gray;
}
.section7 span{
	display: inline-block;
	width: 90%;
	border:1px solid rgb(211,211,211);
	margin-left:5%;
}
.section7 .contact{
	position: absolute;
	width: 80%;
	margin-left: 10%;
}
.section7 .contact .tel{
	position: absolute;
	width: 80px;
	top: 0px;
	left: 50px;
}
.section7 .contact .tel_{
	position: absolute;
	top: 20px;
	font-size: 16px;
	color: gray;
	left: 150px;
}
.section7 .contact .erweima{
	position: absolute;
	width: 80px;
	top: 0px;
	left: 450px;
}
.section7 .contact .erweima_{
	position: absolute;
	font-size: 16px;
	color: gray;
	left: 550px;
	top: 20px;
}
.section7 .contact .erweima1{
	position: absolute;
	width: 80px;
	top: 0px;
	left: 850px;
}
.section7 .contact .erweima1_{
	position: absolute;
	font-size: 16px;
	color: gray;
	left: 950px;
	top: 20px;
}
.section7 .bottom{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100px;
	background: rgba(0,0,0,0.3);
}
.section7 .bottom p{
	margin-left: 150px;
	color: #fff;
	font-size: 14px;
	margin-top: 30px;
}
.section7 .bottom div{
	margin-left:600px;
	color: #fff;
	font-size: 14px;
	margin-top: 0px;
}

