/*body{height:5000px;}*/
#top_nav{width: 100%;height: 35px;border-bottom: 1px solid #e6e6e6;background:#f2f2f2;}
#top_nav .top_nav{height: 35px;/*background: red;*/}
/*顶部导航栏左侧*/
#top_nav .top_nav .nav_l{width: 400px;height: 35px;margin-left: 20px;float: left;}
#top_nav .top_nav .nav_l li{float: left;line-height: 35px;position: relative;margin-left: 20px;z-index:1001;}
#top_nav .top_nav .nav_l li:last-child{margin:0px;}
#top_nav .top_nav .nav_l li .ico_star{width: 16px;height: 16px;display: block;
	background: url(../images/common_z.png) -4px -321px;position: absolute;left: -20px;top:9px;}
#top_nav .top_nav .nav_l li .ico_weixin{margin-top:4px;width: 20px;height: 16px;display:inline-block;
	background: url(../images/common_z.png) -376px -135px; position:absolute; left: 5px;top:6px;}
#top_nav .top_nav .nav_l li .ico_tel{width: 12px;height: 18px;display: block; 
	background: url(../images/common_z.png) -300px -174px;position: absolute;left:10px;top:9px;}
#top_nav .top_nav .nav_l li a{text-decoration: none;}
#top_nav .top_nav .nav_l .wt{width:90px;height: 35px;display: inline-block;text-align: center;padding-left:15px;
	border: 1px solid #f2f2f2;border-bottom: none;border-top: none; box-sizing: border-box;}
#top_nav .top_nav .nav_l li:hover a.wt{background: #fff;border: 1px solid #e6e6e6;border-bottom: none;
	border-top: none; box-sizing: border-box;}
#top_nav .top_nav .nav_l li:hover .tbox{display: block;}

	/*微信二级菜单*/
#top_nav .top_nav .nav_l .weixin{background: #fff;width: 158px;position: absolute;top:35px;
	border:1px solid #e6e6e6;border-top:none;text-align: center;display: none;z-index: 1000;}
#top_nav .top_nav .nav_l .weixin img{margin-top:20px;margin-left: 15px;}
#top_nav .top_nav .nav_l .weixin p{line-height: 20px;margin:10px 0px;}

	/*手机二级菜单*/
#top_nav .top_nav .nav_l .tel{background: #fff;width: 158px;position: absolute;top:35px;border:1px solid #e6e6e6;
	border-top:none;text-align: center;display: none;}
#top_nav .top_nav .nav_l .tel img{margin-top:20px;margin-left: 15px;}
#top_nav .top_nav .nav_l .tel p{line-height: 20px;margin:10px 0px;}

/*顶部导航栏右侧*/
#top_nav .top_nav .nav_r{height: 35px;line-height: 35px;/* background: yellow;*/}
#top_nav .top_nav .nav_r li{float: left; padding-left:6px;padding-right:6px;position: relative;z-index: 1001;}
#top_nav .top_nav .nav_r .iconfont{color:#d9d9d9;}
#top_nav .top_nav .nav_r li p{display: inline-block;}
#top_nav .top_nav .nav_r li>a{text-decoration: none;}
#top_nav .top_nav .nav_r .nav_cs{line-height: 32px;padding-bottom: 2px;border-left:1px solid #f2f2f2;
	border-right:1px solid #f2f2f2;}
#top_nav .top_nav .nav_r .nav_cart{padding-left: 35px;line-height: 32px;padding-bottom: 2px;
	border-left:1px solid #f2f2f2;border-right:1px solid #f2f2f2;}
#top_nav .top_nav .nav_r .nav_cart .cart{width:22px;height:20px;
	background: url(../images/common_z.png) -341px -285px;position: absolute;left: 8px;top: 6px;}
#top_nav .top_nav .nav_r .nav_cart span{color: #ff6a00;}
#top_nav .top_nav .nav_r .line{padding:0;color: #d9d9d9;}
#top_nav .top_nav .nav_r .nav_cs:hover .iconfont{color:#ff6a00;}
#top_nav .top_nav .nav_r .nav_cs:hover{background: #fff;border-color: #e6e6e6;}
#top_nav .top_nav .nav_r .nav_cs:hover .cs_submenu{display: block;}
#top_nav .top_nav .nav_r .nav_cart:hover .iconfont{color:#ff6a00;}
#top_nav .top_nav .nav_r .nav_cart:hover{background: #fff;border-color: #e6e6e6;}
#top_nav .top_nav .nav_r .nav_cart:hover .cart_submenu{display: block;}

/*客户服务弹出二级菜单*/
/*客户服务二级菜单*/
#top_nav .top_nav .nav_r .nav_cs .cs_submenu{background:#fff;position: absolute;top:34px;width: 76px;
	border: 1px solid #e6e6e6;border-top:none;display: none;left:-1px;}
#top_nav .top_nav .nav_r .nav_cs .cs_submenu a{width:76px;display: inline-block;text-align: center;}
#top_nav .top_nav .nav_r .nav_cs .cs_submenu a:hover{ text-decoration: normal;}

/*购物车二级菜单*/
#top_nav .top_nav .nav_r .nav_cart .cart_submenu{background:#fff;position: absolute;top: 35px;
	left:-34px;width: 319px;height: 122px;border: 1px solid #e6e6e6;border-top:none;display: none;}
#top_nav .top_nav .nav_r .nav_cart .cart_submenu p{text-align: center;margin-top: 40px;display: block;}

/*头部搜索开始*/
#header{width: 100%;height: 120px;background: #fff;}
#header .header{height: 120px;position: relative;z-index: 5;}
#header .header .logo{width: 490px;height: 66px;margin-top:28px;float: left;}
#header .header .logo h1{width: 220px;height: 64px;float: left;}
#header .header .logo i{width:10px;height:36px;margin-left: 10px;margin-top:13px;border-right:1px solid #d9d9d9;
	 float: left;}
#header .header .logo h2{width: 116px;height: 32px;margin-left:13px;margin-top:13px;
	background: url(../images/common_z.png) -294px -2px;float: left;}
#header .header .search{width: 330px;height:65px;margin-top:38px;float: left;}
#header .header .search input{float: left;width: 230px;font-family: "宋体";padding-left:8px;/*  color: #aeaeae;*/
	font-size: 14px; height: 32px;border:1px solid #ff6a00;outline:0 none;}
#header .header .search input::-webkit-input-placeholder{color:#aeaeae;}
#header .header .search input::-moz-placeholder{color:#aeaeae;}
#header .header .search input::-ms-input-placeholder{color:#aeaeae;}
#header .header .search button{float: left;width: 82px;height: 34px;cursor: pointer;border:0 none;
	background: #ff6a00;color: #fff;font-size: 16px;}
#header .header .search_txt{width: 230px;height: 25px;position: absolute;left: 492px;top: 75px;}
#header .header .search_txt li{float: left;margin-right: 5px;color: #999999;}
#header .header .search_txt li a{color: #999999;}
#header .header .search_txt li a:hover{color: #ff6a00;}
#header .header .search_txt .line{color: #e4d9e4;}
#header .header .cotact{width: 251px;height: 28px;float: right;position: absolute;top:44px;right: 0;}
#header .header .cotact .tel{width: 22px;height: 22px;background: url(../images/common_z.png) -384px -50px;
	float: left;}
#header .header .cotact p{float: left;font-size: 14px;color: #737373;margin-left: 10px;}
#header .header .cotact .line{width:2px;height:16px;border-right: 1px solid #e4d9e4;float: left;margin-left: 25px;}
#header .header .cotact .tel_inline{width: 24px;height: 24px;background: url(../images/common_z.png) -297px -133px;
	float: left;margin-left: 23px;}
#header .header .cotact a{margin-left: 9px;}
/*头部搜索结束*/

/*全部商品导购 开始*/
#nav{width: 100%;height: 40px;background: #fe7a24;}
#nav .nav{height: 40px;position: relative;}
#nav .nav .allshop{width: 210px;height: 40px;background: #ff6a00;position: relative;}
#nav .nav .allshop h3 a{display: inline-block;color: #fff;font-size: 16px;font-family: "微软雅黑";
	font-weight: bold;float: left;line-height: 40px;margin-left: 14px;text-decoration: none;}
#nav .nav .allshop .iconfont{display: inline-block;color: #fff;line-height: 35px;font-size: 25px;
	font-weight: bold;margin-left: 70px;}
#nav .nav .allshop:hover .pull_down{display: block;}

	/*全部商品弹出下拉菜单 开始*/
#nav .nav .allshop .pull_down{width: 208px;height: 620px;background: #fff;border: 1px solid #ff6a00; 
	position: absolute;top: 40px;display: none;z-index: 100;}
#nav .nav .allshop .pull_down dl{width: 178px;border-bottom: 1px solid #d9d9d9;margin-left: 15px;float: left;margin-top:2px;}
#nav .nav .allshop .pull_down dl dt{font-size: 14px;font-weight: bold;color: #ff6a00;line-height: 25px;}
#nav .nav .allshop .pull_down dl dd{margin-bottom: 6px;}
#nav .nav .allshop .pull_down dl dd a{display: inline-block; line-height: 22px;white-space: nowrap;
	padding-right: 9px;}
/*主体部分导航*/
#nav .nav .nav_main{position: absolute;top: 0px;left: 210px;}
#nav .nav .nav_main ul{width: 750px; height: 40px;margin-left: 20px;}
#nav .nav .nav_main ul li{float: left;line-height: 38px;}
#nav .nav .nav_main ul li a{font-size: 15px;color: #fff;font-weight: bold;font-family: "微软雅黑";
	padding:0 23px;text-decoration: none;}
#nav .nav .nav_main ul li:hover{background: #ff8833;}
#nav .nav .nav_main .now{background: #ff6a00;}
#nav .nav .nav_main .now:hover{background: #ff6a00;}

/*全部商品导购 结束*/

/*主体部分开始*/
#main{width: 100%;height: 3283px;/*background: green;*/}
#main .main{height:3282px;/*background: orange;*/}
/*主体左侧部分*/
#main .main .main_l{width: 208px;height: 824px;float: left;}
#main .main .main_l .nav_left{width: 208px;height: 824px;margin-top: 10px;border:1px solid #cccccc;background: #fff;}
#main .main .main_l .nav_left dl{width: 190px;border-bottom: 1px solid #d9d9d9;margin-left: 9px;float: left;}
#main .main .main_l .nav_left .lastdl{border-bottom: none;}
#main .main .main_l .nav_left dl dt{width: 30px;height: 150px;float: left;font-size: 14px;font-weight: bold;color: #ff6a00;}
#main .main .main_l .nav_left dl dd{margin-top: 12px;margin-bottom: 12px;}
#main .main .main_l .nav_left .a a{display: inline-block;width: 58px; line-height: 22px;padding-left:18px;
	white-space: nowrap;}
#main .main .main_l .nav_left .lastdd>a{display: inline-block;width: 48px; line-height: 22px;}
#main .main .main_l .nav_left .img1{width: 25px;height: 35px;display: block; background: url(../images/common_z.png) -164px -237px;
	margin:48px 0 3px 3px;}
#main .main .main_l .nav_left .img2{width: 24px;height: 28px;display: block; background: url(../images/common_z.png) -123px -240px;
	margin:48px 0 3px 3px;}
#main .main .main_l .nav_left .img3{width: 24px;height: 24px;display: block; background: url(../images/common_z.png) -3px -242px;
	margin:31px 0 3px 3px;}
#main .main .main_l .nav_left .img4{width: 24px;height: 24px;display: block; background: url(../images/common_z.png) -83px -242px;
	margin:31px 0 3px 3px;}
#main .main .main_l .nav_left .img5{width: 23px;height: 30px;display: block; background: url(../images/common_z.png) -44px -239px;
	margin:31px 0 3px 3px;}
#main .main .main_l .nav_left .img6{width: 24px;height: 24px;display: block; background: url(../images/common_z.png) -203px -192px;
	margin:39px 0 3px 3px;}
#main .main .main_l .nav_left .dt3{width: 30px;height: 100px;float: left;font-size: 14px;font-weight: bold;color: #ff6a00;}
#main .main .main_l .nav_left .dt4{width: 30px;height: 90px;float: left;font-size: 14px;font-weight: bold;color: #ff6a00;}
#main .main .main_l .nav_left .dt5{width: 30px;height: 90px;float: left;font-size: 14px;font-weight: bold;color: #ff6a00;}
#main .main .main_l .nav_left .dt6{width: 30px;height: 110px;float: left;font-size: 14px;font-weight: bold;color: #ff6a00;
	margin-right: 16px;}
#main .main .main_l .nav_left .color_a{position: relative;}
#main .main .main_l .nav_left .color_a a{display: inline-block;width: 39px; line-height: 22px;padding-left:33px;
	white-space: nowrap;}
#main .main .main_l .nav_left .iconfont{font-size: 30px;position: absolute;}	
#main .main .main_l .nav_left .dot1{color: #a40000;left: 38px;}
#main .main .main_l .nav_left .dot2{color: #feabae;right: 50px;}
#main .main .main_l .nav_left .dot3{color: #fcc280;left: 38px;}
#main .main .main_l .nav_left .dot4{color: #f1c323;right: 50px;}
#main .main .main_l .nav_left .dot5{color: #d2d2d2;left: 38px;}
#main .main .main_l .nav_left .dot6{color: #d685fc;right: 50px;}
#main .main .main_l .nav_left .dot7{color: #5b37f7;left: 38px;}

/*热销鲜花推荐*/
#main .main .main_l .hot_flower{width: 208px;height:1580px;margin-top:20px;border:1px solid #e0e0e0;background: #fff;}
#main .main .main_l .hot_flower h3{font-size: 14px;font-weight: bold;font-family: "微软雅黑";text-align: center;
	width: 208px;height: 30px;background: #ffe8d9;line-height: 30px;color: #737373;}
#main .main .main_l .hot_flower .hot{width: 190px;border-bottom:1px solid #e0e0e0;margin-left: 9px; }
#main .main .main_l .hot_flower .hot img{width: 190px;margin-bottom: 20px;margin-top: 10px;cursor: pointer;}
#main .main .main_l .hot_flower .hot a{display:inline-block;margin-bottom: 10px;line-height: 17px;}
#main .main .main_l .hot_flower .hot a span{color: #ff6a00;font-weight: bold;width: 190px;display: inline-block;text-align: center;
	line-height: 28px;}

/*最新鲜花订单评价*/
#main .main .main_l .news_flower{width: 208px;height:520px;margin-top:20px;border:1px solid #e0e0e0;background: #fff;}
#main .main .main_l .news_flower h3{font-size: 14px;font-weight: bold;font-family: "微软雅黑";text-align: center;
	width: 208px;height: 30px;background: #ffe8d9;line-height: 30px;color: #737373;}
#main .main .main_l .news_flower .news{width: 200px;/*height: 72px;*/margin-left: 9px;margin-top: 20px;}
#main .main .main_l .news_flower .news img{width: 50px; border: 1px solid #e0e0e0;float: left;margin-right: 10px;cursor: pointer;}
#main .main .main_l .news_flower .news a{width: 120px;height: 40px; overflow: hidden;display: -webkit-box;-webkit-line-clamp:2;
	-webkit-box-orient:vertical;text-overflow: ellipsis;}

/*主体右侧部分*/
#main .main .main_r{width: 970px;height:auto;margin-top: 10px;background:#fff;float: right;position: relative;}
/*banner   开始*/
#main .main .main_r #slideBox{position: absolute;width: 970px;height: 342px;overflow: hidden;}
.slideBox{ width:970px; height:342px; overflow:hidden; position:relative;float: left; }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:45%; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:10px;  width:15px; height:15px; line-height:14px; text-align:center; background:#ddd; cursor:pointer;border-radius: 50%; }
.slideBox .hd ul li.on{ background:#ff6600;}
.slideBox .bd{ position:relative; height:auto; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:100%;display:block;  }

/* banner 前/后按钮代码*/
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }

/*主体部分列表顶部导航*/
#main .main .main_r .main_top{width: 970px;height: 32px;background: #ebebeb;margin-top: 358px;}
#main .main .main_r .main_top .main_nav{width: 350px;height: 32px;line-height: 32px;float: left;}
#main .main .main_r .main_top .main_nav li{float: left;padding:0 13px;}
#main .main .main_r .main_top .main_nav li a{font-size: 14px;font-family: "微软雅黑";text-decoration: none;}
#main .main .main_r .main_top .main_nav li a .iconfont{font-size: 20px;}
#main .main .main_r .main_top .main_nav li:first-child a{color: #ff6a00;}
#main .main .main_r .main_top .main_nav li:first-child{padding:0 27px;}

#main .main .main_r .main_top .top_page{width: 170px;height: 32px;line-height: 32px;float: right;}
#main .main .main_r .main_top .top_page li{float: left;font-size: 14px;font-weight: bold;text-align: center;color: #737373;}
#main .main .main_r .main_top .top_page li strong{font-size: 14px;color: #ff6a00;}
#main .main .main_r .main_top .top_page li:first-child{margin-right:10px;}
#main .main .main_r .main_top .top_page .box{width: 54px;height: 22px;line-height: 22px;border:1px solid #cccccc;
	margin-top: 5px;background: #fff;}
#main .main .main_r .main_top .top_page .box1{border-left: none;}
#main .main .main_r .main_top .top_page .box:hover{background: #ebebeb;}

/*鲜花列表开始*/
#main .main .main_r .flowers_list{width: 970px;height: 2800px;}
#main .main .main_r .flowers_list ul{width: 970px;height: 2600px;}
#main .main .main_r .flowers_list ul li{width:25%;height: 370px;margin-top:20px;background: #fff;border:1px solid #fff;
	box-sizing: border-box;position: relative;/*margin-left: -1px;*/z-index: 1;float: left;}
#main .main .main_r .flowers_list .hua{margin-left: 10px;padding-top: 20px;}
#main .main .main_r .flowers_list .hua img{cursor: pointer;}
#main .main .main_r .flowers_list .hua strong{color: #ff6a00;font-size: 13px;font-family: "微软雅黑";}
#main .main .main_r .flowers_list .hua p{color: #ff6a00;}
#main .main .main_r .flowers_list .hua a{position: relative;text-decoration: none;}
#main .main .main_r .flowers_list .hua span{padding-left: 10px;font-size: 12px;color: #888888;}
#main .main .main_r .flowers_list .hua .box1 span{color: #000;}
#main .main .main_r .flowers_list .hua .iconfont{position: absolute;left: 20px;top: 2px;}
#main .main .main_r .flowers_list .hua .box1 .iconfont{left: 8px;top: 0;font-size: 18px;}
#main .main .main_r .flowers_list .box{width: 105px;height: 25px;display: inline-block; line-height: 25px;
	border:1px solid #d9d9d9;margin-top: 5px;text-align: center;float: left;}
#main .main .main_r .flowers_list .box1{border-left:none; }
#main .main .main_r .flowers_list .box:hover{background: #fff3eb;}
#main .main .main_r .flowers_list .hua .box:hover span{color: #ff6a00;}
#main .main .main_r .flowers_list ul li:hover{border-color: #cccccc;z-index: 2;}

/*底部页码 开始*/
#main .main .main_r .page_bottom{width: 970px;height: 82px; background: #fff;border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;}
#main .main .main_r .page_bottom p{line-height: 82px;font-size: 14px;color: #999999;font-weight: bold;
	float: left;letter-spacing: 2px;}
#main .main .main_r .page_bottom ul{width: 451px;height: 32px;border:1px solid #dddddd;float: right;
	margin-top: 24px;border-radius: 4px;box-sizing: border-box;}
#main .main .main_r .page_bottom ul li{float: left;width: 35px;height: 32px;border-right:1px solid #dddddd;}
#main .main .main_r .page_bottom ul li:last-child{border-right:none;}
#main .main .main_r .page_bottom ul li a{display: block; line-height: 32px;text-align: center;text-decoration: none;
	font-family: "微软雅黑";}
#main .main .main_r .page_bottom ul .p1{background: #ff6a00;color: #fff;}
#main .main .main_r .page_bottom ul .p1 a{color: #fff;}
#main .main .main_r .page_bottom .page{width: 80px;height: 32px;line-height: 32px;}
#main .main .main_r .page_bottom .page a{display: block; line-height: 32px;text-align: center;}
#main .main .main_r .page_bottom ul li:hover a{background: #d9d9d9;}
#main .main .main_r .page_bottom .p1:hover a{background: #ff6a00;}


/*鲜花常识及礼仪 开始*/
#about_flower{width: 100%;height:230px; }
#about_flower .about_flower{height: 100px;height: 228px;/*background: red;*/margin-top: 40px;border:1px solid #ebebeb;}
#about_flower .about_flower .title{width: 100%;height: 47px;background: #ebebeb;}
#about_flower .about_flower .title h3{line-height: 47px;padding-left: 20px;font-weight: bold;font-size: 14px;}
#about_flower .about_flower ul{width: 33%;height: 150px;border-right: 1px solid #ebebeb;margin-top: 15px;
float: left;}
#about_flower .about_flower ul li{width: 100%;line-height: 30px; padding-left: 43px;}
#about_flower .about_flower ul li a{line-height: 30px;display: inline-block;}
#about_flower .about_flower ul:last-child{border-right:none;}

/*底部导航*/
.footer_nav{height: 77px;background: #fff;}
.footer_nav a{padding:0 28px;line-height: 77px;}
.footer_nav b{font-weight: bold;color: #d9d9d9;}

/*footer    start*/
footer{height: 170px;background: #fff;border-bottom: 1px solid #d9d9d9;}
footer .picture{width: 1000px;margin-left: 140px;
	position: relative;height: 52px;}
footer .picture a{position: absolute;bottom: 0px;}
footer .picture a:nth-child(2){left: 132px;}
footer .picture a:nth-child(3){left: 280px;}
footer .picture a:nth-child(4){left: 410px;}
footer .picture a:nth-child(5){left: 645px;}
footer .picture a:nth-child(6){left: 760px;}
footer .picture img{/*margin-bottom: 0px;display: block;*/}
footer .picture a{float: left; margin:0 14px;line-height: 20px;}
footer .footer_txt{width: 900px;margin-top: 10px;text-align:center;}
footer .footer_txt p{display: inline-block; width: 900px;height: 27px;margin:0 170px;line-height: 27px;}
footer .footer_txt a{height: 27px;line-height: 27px;}
/*footer end*/

/*侧边导航*/
#side_nav{width: 34px; height: 100%; position: fixed;right: 0px;top: 0px;z-index: 10000;}
#side_nav .side_nav{width: 34px;height: 100%;background: #595656;display: block; position: relative;}
#side_nav .side_nav .side_main{width: 34px;height: 360px;position: absolute;/* background: pink;*/top: 135px;}
#side_nav .side_nav .side_main li{margin-bottom: 6px;}
#side_nav .side_nav .side_main li>a{color: #fff;display: inline-block;width: 19px;padding:9px;text-decoration: none;}
#side_nav .side_nav .side_main li>a:hover{background: #ff6a00;}
#side_nav .side_nav .side_main #shop_cart{height: 131px;width: 34px;border-top: 1px solid #939191;
	border-bottom: 1px solid #939191;}
#side_nav .side_nav .side_main #shop_cart>a{padding:12px;}
#side_nav .side_nav .side_main #shop_cart span{display:inline-block;width: 21px;height: 21px;background: #ff6a00;
	text-align: center;margin-left: -5px;margin-top:7px;border-radius: 50%;}
#side_nav .side_nav .side_main #shop_cart:hover{height: 131px;width: 34px;background: #ff6a00;}
#side_nav .side_nav .side_main #shop_cart:hover span{background: #fff;color: #ff6a00;}
#side_nav .side_nav .side_main .user{width: 18px; height: 20px;background: url(../images/side_nav.png) -9px -8px;
	display: block;}
#side_nav .side_nav .side_main .list1:hover .user_tbox{display: block;}	
	/*用户弹出二级菜单*/
#side_nav .side_nav .side_main .user_tbox{width: 288px;height:200px;background:#fff; position: absolute;
	left: -288px;top:0px;border: 1px solid #ececec; display: none;}
#side_nav .side_nav .side_main .user_tbox img{border-radius: 50%;margin-left: 107px;margin-top: 18px;
	 margin-bottom:20px;}
#side_nav .side_nav .side_main .user_tbox p{display: inline-block;width: 288px;text-align: center;}
#side_nav .side_nav .side_main .user_tbox p >a{display: inline-block;text-align: center;color: #ff6a00;}
#side_nav .side_nav .side_main .user_tbox .myorder{width: 17px; height: 20px;
	background: url(../images/side_nav.png) -46px -80px;display: inline-block;position: absolute;
	left:105px;bottom: 10px;}
#side_nav .side_nav .side_main .user_tbox >a{ color: #595656;left: 130px;position: absolute;bottom: 10px;}
#side_nav .side_nav .side_main .user_tbox a:hover{color: #ff6a00;}
#side_nav .side_nav .side_main .user_tbox .order{width: 66px;text-align: center;margin-left: 129px;margin-top: 20px;}
#side_nav .side_nav .side_main .user_tbox b{display: block;position: absolute;width: 30px;height:20px;
	background: #fff;right: -3px;top: 10px;transform: rotate(35deg);}
	/*用户弹出二级菜单 end*/
#side_nav .side_nav .side_main .cart{width: 18px; height: 16px;background: url(../images/side_nav.png) -9px -46px;
	display: block;margin-left: -5px;margin-top: -5px;margin-bottom: 5px;}
#side_nav .side_nav .side_main .heart{width: 18px; height: 16px;background: url(../images/side_nav.png) -9px -82px;
	display: block;}
#side_nav .side_nav .side_main .clock{width: 18px; height: 18px;background: url(../images/side_nav.png) -9px -117px;
	display: block;}
#side_nav .side_nav .side_main .tel{width: 17px; height: 17px;background: url(../images/side_nav.png) -9px -154px;
	display: block;}
#side_nav .side_nav .side_main .tel_online{width: 18px; height: 18px;background: url(../images/side_nav.png) -9px -189px;
	display: block;}

	/*弹出子菜单*/
#side_nav .side_nav .side_main .list2{position: relative;}
#side_nav .side_nav .side_main .list2 .tbox{width: 120px;height: 36px;line-height: 36px;text-align: center;background: #fff;position: absolute;
	left: -150px;top: 0px;display: none;}
#side_nav .side_nav .side_main .list2:hover .tbox{display: block;left: -120px;animation: nn 0.5s 1 linear;}
@keyframes nn{
	0%{left: -150px;}
	100%{left: -120px;}
}
#side_nav .side_nav .side_main .list2 .tbox p{font-size: 14px;}
#side_nav .side_nav .side_main .list2 .tbox b{display: block;position: absolute;width: 19px;height:20px;background: #fff;right: -3px;
	top: 7px;transform: rotate(35deg);}
	/*弹出子菜单 end*/

  	/*二维码*/
#side_nav .side_nav	.qr{width: 34px;height: 34px;position: absolute; bottom: 45px;}
#side_nav .side_nav	.qr .qr_code{width: 18px; height: 19px;background: url(../images/side_nav.png) -9px -225px;
	display: block;margin-left: 9px;margin-top: 8px;}
#side_nav .side_nav	.qr:hover{background: #ff6a00;}
#side_nav .side_nav	.qr:hover .qr_tbox{display: block;}

	/*弹出菜单   开始*/
#side_nav .side_nav	.qr .qr_tbox{width: 290px;height: 200px;background: #fff;border: 1px solid #ececec;
	position: absolute;bottom:0px;left: -292px;display: none;}
#side_nav .side_nav	.qr .qr_tbox img{float: left;margin:28px 0 19px 21px;}
#side_nav .side_nav	.qr .qr_tbox p{font-size: 15px;font-weight: bold;width: 115px;text-align: center;
	float: left;margin-left:18px;}
#side_nav .side_nav	.qr .qr_tbox b{display: block;position: absolute;width: 19px;height:20px;background: #fff;right: -3px;
	bottom: 7px;transform: rotate(35deg);}
	/*弹出菜单   结束*/


	/*返回顶部*/
#side_nav .side_nav .return{width: 34px;height: 34px;position: absolute;bottom: 0px;}
#side_nav .side_nav .return .return_top{width: 16px; height: 8px;background: url(../images/side_nav.png) -9px -266px;
	display: block;margin-left: 9px;margin-top: 15px;}
#side_nav .side_nav .return:hover{background: #ff6a00;}
	/*弹出子菜单*/
	#side_nav .side_nav .return .return_tbox{width: 120px;height: 36px;line-height: 36px;text-align: center;
		background: #fff;position: absolute;left: -150px;bottom: 0px;display: none;}
	#side_nav .side_nav .return:hover .return_tbox{display: block;left: -120px;animation: nn 0.5s 1 linear;}
	@keyframes nn{
		0%{left: -150px;}
		100%{left: -120px;}
	}
.return_tbox p{font-size: 14px;}
.return_tbox b{display: block;position: absolute;width: 19px;height:20px;background: #fff;right: -3px;
		bottom: 7px;transform: rotate(35deg);}
	/*弹出子菜单 end*/