header{width: 100%;height: 1.84rem;background: #ff6600;position: fixed;z-index: 10;top: 0;}
header img{float: left;width: 5.28rem; height: 1.64rem;margin:0.1rem 0.2rem 0 0.2rem;position: absolute;}
header .search{width: 100%;height: 1.84rem;padding-left: 6rem;padding-right: 2rem;}
header .search input{width: 100%;height: 1.36rem;background: rgba(255,255,255,1); padding-left:0.2rem;margin-top: 0.25rem;
	border-radius: 4px;font-size: 0.48rem;border: 1px solid #eee; /*box-shadow:0 2px  10px #999999 inset;*/}
header .search input::-webkit-input-placeholder{color:#aeaeae;}
header .search .big{color: #aeaeae;font-size: 0.8rem;position: absolute;left:80%;top: 0.46rem;}
header .search .user{font-size:1rem;color: #fff;right: 0.44rem;top: 0.25rem;position: absolute;}

header .open_app{width: 100%;position: absolute;top: 0;z-index: 100;}


/*banner start*/
.banner{width: 100%;/*height: 9.6rem;*/position: relative;z-index: 1;padding-top: 1.4rem;}
.slideBox{ position:relative; overflow:hidden; margin:10px auto;  max-width:15rem;/* 设置焦点图最大宽度 */ }
.slideBox .hd{ position:absolute; height:0.56rem; line-height:0.56rem; bottom:0.2rem;z-index:1; left: 42%; }
.slideBox .hd li{ display:inline-block; width:0.28rem; height:0.28rem; -webkit-border-radius:50%; -moz-border-radius:50%;
	 border-radius:50%; background:#fff; text-indent:-9999px; overflow:hidden; margin:0 6px;
	  box-shadow: 1px 1px 1px #666;}
.slideBox .hd li.on{ background:#ff6a00;}
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative; text-align:center;  }
.slideBox .bd li img{ background:url(images/loading.gif) center center no-repeat;  vertical-align:top;
 	width:100%;/* 图片宽度100%，达到自适应效果 */}
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  /* 去掉链接触摸高亮 */
/*banner end*/

/*nav start*/
.nav{width: 100%;}
.nav .serve{width:100%;top: 0;}
.nav .nav_type{width: 100%;height: 3rem;margin-top: 0.6rem;border-bottom: 1px solid #e5e5e5;}
.nav .nav_type li{width: 20%;float: left;position: relative;}
.nav .nav_type li p{display:block;text-align: center;margin-top:2rem;}
.nav .nav_type li img{width: 0.8rem; height: 0.8rem; position:absolute; top:50%; left:50%;transform: translate(-50%,-50%);} 
.nav .nav_type .t1>span{background: #fb8989;border-radius: 50%;width: 1.6rem;height: 1.6rem; display: block;position:absolute; left:50%; transform: translateX(-50%);}
.nav .nav_type .t2>span{background: #de8dc5;border-radius: 50%;width: 1.6rem;height: 1.6rem;display: block;position:absolute; left:50%; transform: translateX(-50%);}
.nav .nav_type .t3>span{background: #77bae6;border-radius: 50%;width: 1.6rem;height: 1.6rem;display: block;position:absolute; left:50%; transform: translateX(-50%);}
.nav .nav_type .t4>span{background: #f6b365;border-radius: 50%;width: 1.6rem;height: 1.6rem;display: block;position:absolute; left:50%; transform: translateX(-50%);}
.nav .nav_type .t5>span{background: #88d4c0;border-radius: 50%;width: 1.6rem;height: 1.6rem;display: block;position:absolute; left:50%; transform: translateX(-50%);}
.nav .space{width: 100%;height: 0.52rem;background: #f0efed;border-bottom: 1px solid #e5e5e5;}
/*nav end*/

/*鲜花头条 开始*/
.headline{width: 100%;height: 1.96rem;background: #fff;border-bottom: 1px solid #e5e5e5;}
.headline .brand{width:30%;float: left; line-height: 1.96rem;color: #ff6a00;text-align: center;}
.headline .brand .iconfont{font-size: 0.6rem;margin-left: 0.2rem;}
.headline .line{width: 70%;float: left;height: 1.96rem;overflow: hidden;}
.headline ul li{width:100%;line-height:1.96rem;overflow: hidden;display: -webkit-box;-webkit-line-clamp:1;
	-webkit-box-orient:vertical;}
.space{width: 100%;height: 0.26rem;background: #f0efed;border-bottom: 1px solid #e5e5e5;}


/*秒杀  开始*/
.second_kill{width: 100%;height: 5rem;}
.second_kill .time_box{width: 100%;height: 1.96rem;background: #f6b365;line-height:1.96rem;}
.second_kill .time_box h3{width: 25%;line-height: 1.96rem;color:#ff6a00;text-align: center;float: left;}
.second_kill .time_box .time{width: 45%;height: 1.96rem;float: left;line-height: 1.96rem;}
.second_kill .time_box .time span{width: 0.8rem;height: 0.8rem;background: #eee;padding:0.2rem;}
.second_kill .time_box .more{width: 30%;line-height:1.96rem;float:left;margin-left:-0.2rem; }


.picScroll{ /*margin:10px auto;*/ text-align:center;  }
.picScroll .bd ul{ width:100%;  float:left;/* padding-top:10px*/; border-bottom:1px solid #e5e5e5; }
.picScroll .bd li{ width:33%; float:left; font-size:14px; text-align:center;border-right:1px solid #e5e5e5; }
.picScroll .bd li:last-child{border-right:none;}
.picScroll .bd li a{-webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }
.picScroll .bd li img{ width:4.08rem; height:3.96rem;  background:url(images/loading.gif) #fff center center no-repeat; }


.picScroll .hd{ height:40px; line-height:40px; border-bottom:2px solid #80BD6D; background:#f6f6f6;   overflow:hidden; text-align:left;  padding:0 10px;display: none;  }
.picScroll .hd ul{ float:right; padding-top:16px;   }	
.picScroll .hd li{ float:left; width:8px; height:8px; background:#D0D0D0; margin:0 5px; overflow:hidden; 
-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; 
}
.picScroll .hd .on{ background:#80BD6D;  }
.picScroll .prev,.picScroll .next{ display:block; float:right;  width:18px; height:18px; background:url(images/pisScrollIcons.gif) -6px -7px no-repeat; overflow:hidden; margin:11px 5px 0 5px;  }
.picScroll .next{ background-position:-34px -7px; }
.picScroll .prevStop{ background-position:-6px -40px; }
.picScroll .nextStop{ background-position:-34px -40px; }

/*精品推荐  开始*/
.recommend{width: 100%;margin-top: 1.4rem;}
.recommend .title{width: 100%;height: 1.6rem;background: #ffe68f;line-height: 1.6rem;}
.recommend .title h3{float: left;padding-left: 0.8rem;color: #666666;font-weight: normal;}
.recommend .title a{float: right;padding-right: 0.8rem;color: #666666;}
.recommend ul{width: 100%;height: 5.86rem;border-bottom: 1px solid #e5e5e5;}
.recommend ul li{width: 33%;float: left;position: relative;border-right:1px solid #e5e5e5; }
.recommend ul li:last-child{border-right:none;}
.recommend ul li img{width: 100%;}
.recommend ul li p{position: absolute;}
.recommend ul li .p1{top: 0.2rem;text-align: center;width: 100%;}
.recommend ul li .p2{top: 1rem;text-align: center;width: 100%;}
.recommend ul li .c_red{color: #ff0000;}
.recommend ul li .c_pink{color: #ff8588;}
.recommend ul li .c_yellow{color: #f2b354;}

/*热销鲜花  开始*/
.hot_flower{width: 100%;}
.hot_flower .title{width: 100%;height: 1.6rem;background: #ffe68f;line-height: 1.6rem;}
.hot_flower .title h3{float: left;padding-left: 0.8rem;color: #666666;font-weight: normal;}
.hot_flower .title a{float: right;padding-right: 0.8rem;color: #666666;}
.hot_flower ul{width: 100%;height: 39.6rem;}
.hot_flower ul li{width: 48%;height:9.6rem;float: left;border: 1px solid #e5e5e5;margin-top:0.2rem;
	margin-left:0.2rem; background: #fff;}
.hot_flower ul li img{width: 100%;}
.hot_flower ul li .p1{width: 100%;text-align: center;}
.hot_flower ul li .p2{color: #ff0000;width: 100%;text-align: center;}

/*蛋糕  开始*/
.cake{width: 100%;}
.cake .title{width: 100%;height: 1.6rem;background: #fff;line-height: 1.6rem;}
.cake .title h3{float: left;padding-left: 0.8rem;color: #666666;font-weight: normal;}
.cake .title a{float: right;padding-right: 0.8rem;color: #666666;}
.cake .cake_banner{width: 100%;}
.cake ul{width: 100%;height: 6.24rem;}
.cake ul li{float: left;width: 33.33%;height:2.08rem;border-bottom: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5;}
.cake ul li img{width: 100%;}
.cake .no_border{border-right: none;}

/*特色礼品  开始*/
.gift{width: 100%;}
.gift .title{width: 100%;height: 1.6rem;background: #fff;line-height: 1.6rem;}
.gift .title h3{float: left;padding-left: 0.8rem;color: #666666;font-weight: normal;}
.gift .title a{float: right;padding-right: 0.8rem;color: #666666;}
.gift ul{width: 100%;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;height: 6rem; }
.gift ul li{width: 33%;float: left;position: relative;border-right: 1px solid #e5e5e5;height: 6rem;}
.gift ul li img{width: 100%}
.gift ul li:last-child{border-right:none;}
.gift ul li p{position: absolute;top: 0.2rem;margin-left: 0.4rem;}

/*最近鲜花评价 开始*/
.rate{width: 100%;height: 15.02rem;/*background: yellow;*/border-bottom:1px solid #e5e5e5;}
.rate.title{width: 100%;height: 1.6rem;background: #fff;line-height: 1.6rem;}
.rate .title h3{padding-left: 0.8rem;color: #666666;font-weight: normal;line-height: 1.6rem;}
.rate .rate_con{width: 98%;margin-left: 0.2rem;height: 3rem;border-top:1px solid #e5e5e5;}
.rate .rate_con span{width: 20%;height:3rem;float: left; }
.rate .rate_con span img{width: 1.6rem;margin-top:0.6rem;}
.rate .rate_con .content{width: 80%;position: relative;float: right;}
.rate .rate_con .content h3{line-height:1rem;font-weight: normal;color: #666666;}
.rate .rate_con .content .star{width: 2.96rem;}
.rate .rate_con .content .p1{position: absolute;right: 0.2rem;top: 0.8rem;color: #cccccc;}
.rate .rate_con .content .p2{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;line-height: 1rem;
	padding-right: 0.2rem;color: #999999;}
.rate .down_box{width: 98%;margin-left: 0.16rem;height: 1.12rem;line-height: 1.12rem;text-align: center;
	border: 1px solid #e5e5e5;}
.rate .down_box span{color: #ff0000;}
/* 鲜花资讯 */
.flower_infor{width: 100%;height: }
.flower_infor h3{width: 100%; height:1.76rem;font-weight: normal;color: #666666;line-height: 1.76rem;
	border-top: 1px solid #e4e4e4;border-bottom: 1px solid #e4e4e4; padding-left: 0.28rem;}
.flower_infor a{display: block; width: 100%;height: 1.92rem;line-height: 1.92rem;
	border-bottom: 1px solid #e4e4e4;padding-left: 0.36rem;color: #666666;}

/* 鲜花资讯 end*/

/*底部banner  开始*/
.bottom_banner{width: 100%;height: 12.6rem;/*background: yellow;*/}
.bottom_banner .banner_tab{width: 100%;height: 2.76rem;}
.bottom_banner .banner_tab ul{width: 100%;height: 2.16rem;margin-top: 0.4rem;}
.bottom_banner .banner_tab ul li{width: 25%;height: 2.16rem;float: left;text-align: center;}
.bottom_banner .banner_tab ul li img{margin: auto;width: 1.8rem;height: 1.8rem;}
.bottom_banner .banner_tab ul li p{margin-top: 0.2rem;color: #666666;}
.bottom_banner .banner_tab .p1{color: #ff6a00;}

/*banner start*/
.bottom_banner .banner{width: 100%;/*height: 9.6rem;*/position: relative;z-index: 1;padding-top: 0.4rem;}
.bottom_banner .banner .slideBox{ position:relative; overflow:hidden; margin:10px auto;  max-width:15rem;/* 设置焦点图最大宽度 */ }
.bottom_banner .banner .slideBox .hd{ position:absolute; height:0.56rem; line-height:0.56rem; bottom:0.2rem;z-index:1; left: 42%; }
.bottom_banner .banner .slideBox .hd li{ display:inline-block; width:0.28rem; height:0.28rem; -webkit-border-radius:50%; -moz-border-radius:50%;
	 border-radius:50%; background:#fff; text-indent:-9999px; overflow:hidden; margin:0 6px;
	  box-shadow: 1px 1px 1px #666;}
.bottom_banner .banner .slideBox .hd li.on{ background:#ff6a00;}
.bottom_banner .banner .slideBox .bd{ position:relative; z-index:0;overflow: hidden; }
.bottom_banner .banner .slideBox .bd li{ position:relative; text-align:center;  }
.bottom_banner .banner .slideBox .bd li img{ background:url(images/loading.gif) center center no-repeat;  vertical-align:top;
 	width:100%;/* 图片宽度100%，达到自适应效果 */}
.bottom_banner .banner .slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  /* 去掉链接触摸高亮 */
/*banner end*/

/*footer  start*/
footer{width: 100%;height: 8.4rem;background: #f0efed;}
footer .botton{width: 100%;height: 2rem;padding-top: 0.4rem;}
footer .login{width: 2.4rem;height: 1.2rem;display: block; border:1px solid #ff6a00;border-radius: 0.08rem;
	line-height: 1.2rem;text-align: center;color: #ff6a00; float: left;margin-right: 0.2rem;margin-left: 0.2rem;}
footer .register{width: 2.4rem;height: 1.2rem;display: block; border:1px solid #ff6a00;border-radius: 0.08rem;
	line-height: 1.2rem;text-align: center;color: #ff6a00;float: left;}
footer .return_top{width: 3.52rem;height: 1.2rem;display: block; border:1px solid #ff6a00;border-radius: 0.08rem;
	line-height: 1.2rem;text-align: center;color: #ff6a00;float:right;margin-right: 0.2rem;}
footer .help{width: 100%;height: 1.8rem;margin-top: 0.4rem;}
footer ul{width:80%;height: 1.8rem;margin-left: 3rem;}	
footer ul li{float: left;height: 0.9rem;}
footer ul li a{padding:0 0.44rem;text-align: center;color: #666666;}
footer p{width:80%;color: #a3a3a3;margin-top:0.4rem;margin-left: 3rem;}

/*底部导航  开始*/

.nav_bottom{width: 100%;height: 1.96rem;background:#fff;position: fixed;z-index: 100;bottom: 0;}
.nav_bottom ul{width: 100%;height: 1.96rem;}
.nav_bottom ul li{float: left;width: 25%;height: 1.96rem;margin:0 auto;}
.nav_bottom ul li a{display: block;margin-top: 0.2rem;}
.nav_bottom ul li img{width: 1.08rem;height: 1rem;margin:0 auto;}
.nav_bottom ul li a p{display: block;width: 100%; color: #676767;font-size: 0.4rem;margin-top: 0.1rem;
	text-align: center;}