body{width:100%;/*height: 20rem;*/background: #f0efed;}
header{width: 100%;height: 1.88rem;background: #ff6600;text-align: center;color: #fff;line-height: 1.88rem;
	font-size: 0.72rem;font-family: "微软雅黑";}
header .iconfont{font-size: 0.8rem;cursor: pointer;}
header .arrow{float: left;padding-left: 0.2rem;}
header .menu{float: right;padding-right:0.4rem;}

/*显示隐藏导航*/
.top_nav{width: 100%;height: 2rem;background:#fff;border-bottom: 1px solid #e0e0e0;display: none;}
.top_nav ul{width: 100%;height: 1.96rem;}
.top_nav ul li{float: left;width: 25%;height: 1.96rem;margin:0 auto;}
.top_nav ul li a{display: block;margin-top: 0.2rem;}
.top_nav ul li img{width: 1.08rem;height: 1rem;margin:0 auto;}
.top_nav ul li a p{display: block;width: 100%; color: #676767;font-size: 0.4rem;margin-top: 0.1rem;
	text-align: center;}
/*显示隐藏导航 end*/

/*banner*/
.banner{width: 100%;height: 6.4rem;position: relative;}
.banner img{position:absolute;}
.banner .banner_con{position: absolute;bottom: 50%; left:50%;transform: translateX(-50%);text-align: center;color: #fff;}
.banner .banner_con a{color: #aaaaaa;display: block;background: #fff;width: 3rem;padding:0.1rem 0;margin-left: 0.4rem;
	margin-top: 0.2rem;}

/*第一块*/
.top_bar{width: 100%;height: 3rem;}
.top_bar ul{width: 100%;height: 3rem;}
.top_bar ul li{width: 25%;height: 3rem;float: left;text-align: center;}
.top_bar ul li img{width: 1.12rem;height: 1.12rem;margin:0 auto;margin-top: 0.4rem;}
.top_bar ul li a{display: block;}
.top_bar ul li:last-child{border-left: 1px solid #efefef;position: relative;}
.top_bar .box{width: 0.2rem;height: 0.2rem;background:#fff;position: absolute;left:-0.1rem;top: 40%;
	transform: rotate(45deg);border-top:1px solid #efefef; border-right:1px solid #efefef;}

.space{width: 100%;height: 0.2rem;background: #f0efed;}

.major{width: 100%;height: 9.6rem;}
.major ul{width: 100%;}
.major ul li{width: 25%;height: 3.2rem;float: left;text-align: center;border-right:1px solid #efefef;
	border-bottom:1px solid #efefef;background: #fff;}
.major ul li img{width: 1.2rem;height: 1.2rem;margin:0 auto;margin-top: 0.6rem;}
.major ul li a{display: block;}

.account{width: 100%;height: 1.68rem;line-height: 1.68rem;background: #fff;}
.account h4{font-weight: normal;float: left;padding-left: 0.2rem;}
.account a{float: right;color: #666666;padding-right: 0.2rem;}
.account .iconfont{color: #d7d7d7;}



/*footer  start*/
footer{width: 100%;height: 8.4rem;background: #f0efed;}
footer .botton{width: 100%;height: 2rem;padding-top: 0.4rem;}
footer .login{width: 2.4rem;height: 1.2rem;display: block; border:1px solid #ff6a00;border-radius: 0.08rem;
	line-height: 1.2rem;text-align: center;color: #ff6a00; float: left;margin-right: 0.2rem;margin-left: 0.2rem;}
footer .register{width: 2.4rem;height: 1.2rem;display: block; border:1px solid #ff6a00;border-radius: 0.08rem;
	line-height: 1.2rem;text-align: center;color: #ff6a00;float: left;}
footer .return_top{width: 3.52rem;height: 1.2rem;display: block; border:1px solid #ff6a00;border-radius: 0.08rem;
	line-height: 1.2rem;text-align: center;color: #ff6a00;float:right;margin-right: 0.2rem;}
footer .help{width: 100%;height: 1.8rem;margin-top: 0.4rem;}
footer ul{width:80%;height: 1.8rem;margin-left: 3rem;}	
footer ul li{float: left;height: 0.9rem;}
footer ul li a{padding:0 0.44rem;text-align: center;color: #666666;}
footer p{width:80%;color: #a3a3a3;margin-top:0.4rem;margin-left: 3rem;}